.homeButton {
  position: fixed;
  bottom: 5%;
  margin: 5%;
  color: white;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
}

.welcomeHeader {
  font-size: 3em;
  font-family: "Archivo";
}