.mainContainer {
  border-radius: 5px;
  width: 80%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
  padding: 2%;
  border: 1px white solid;
  overflow: auto;
  box-shadow:
  10px 10px 0 10px #272727a2,
}

.button {
  border-radius: 5px;
  background-color: rgb(219, 219, 219);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  height: 75px;
  width: 75px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
  box-shadow:
  2px 2px 0 2px #100f256e;

  transition: .1s ease-in-out transform,
  .1s ease-in-out box-shadow;
}

.icon {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hovering stuff */

.button:hover {
  transform: 
  translate3d(-3px, -3px, 0px);
  box-shadow:
  3px 3px 0 3px #0000006e;
}