/* flex */

._column_tf5i0_5 {
  display: flex;
  flex-direction: column;
}

._row_tf5i0_15 {
  display: flex;
  flex-direction: row;
}

._center_tf5i0_25 {
  display: flex;
  align-items: center;
}

/* custom */

._body_tf5i0_39 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/_app/immutable/assets/figmabg.f19b910f.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

._appContainer_tf5i0_61 {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

._contentContainer_tf5i0_83 {
  width: 40vw;
  height: 75vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  flex-wrap: wrap;
  gap : 1%;
  overflow: auto;
  overflow-x: hidden;
}

._projectSection_tf5i0_117 {
  width: 100%;
  height: 100%;
}

._titleContainer_tf5i0_127{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* text */

._title_tf5i0_127 {
  color: #593dfc;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
._bubble_xh5sn_1 {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

._bubble_xh5sn_1 > a {
  color: rgb(252, 255, 68);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

._bubble_xh5sn_1 > p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
#mainContainer.svelte-1dgjot7{background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg);background-size:cover}