.page{
  height: 100vh;
  background: #333333;
  overflow: hidden;
}

.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

/* header */

.header {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
}

/* cells */

.dividedCell {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.cell {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
  overflow: hidden;
}

.cell:hover{
  height: 25vh;
  transition: .5s;
}

.dividedCell:hover{
  height: 25vh;
  transition: .5s;
}

.dividedCell:hover .cell{
  height: 25vh;
  transition: .5s;
}

.cell:hover .description{
  opacity: 100%;
  visibility: visible;
  transition: .5s;
}

.cell h2{
  transition: .5s;
}

.description {
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
    /* text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; */
  
}

.tech {
  /* text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; */
  opacity: 0;
  transition: .5s;
}

/* banners */

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: auto;
  object-fit: cover;
  opacity: 40%;
  transition: .5s;
}



.cell:hover .banner{
  opacity: 100%;
}

.cell:hover .tech{
  opacity: 100%;
  transition: .5s;
}


.reactBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/react.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.muiBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('src/static/banners/materialui.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nextuiBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/nextui.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.expressBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/express.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mongoBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('src/static/banners/mongo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.unityBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('src/static/banners/unity.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.winBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/vscommunity.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nextBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/nextjs.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nativeBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/react_native.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.expoBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/expo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.svelteBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/sveltekit.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.figmaBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/static/banners/figma.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}