.page{
  height: 100vh;
  background: #333333;
  overflow: hidden;
}

.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

/* header */

.header {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
}

/* cells */

.dividedCell {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.cell {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .4s;
  overflow: hidden;
  background-color: black;
}

.description {
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
    /* text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; */
  
}

.tech {
  /* text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; */
  opacity: 0;
  transition: .4s;
}

/* banners */

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  opacity: 0%;
  transition: .5s;
  overflow: hidden;
}

.bgImage {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* hovering stuff */

.cell:hover .banner{
  opacity: 100%;
}

.cell:hover .tech{
  opacity: 100%;
  transition: .4s;
}

.cell:hover{
  height: 25vh;
  transition: .4s;
}

.cell:hover .content{
  opacity: 100%;
  transition: .4s;
}

.cell:hover .bgImage{
  opacity: 50%;
}

.dividedCell:hover{
  height: 25vh;
  transition: .4s;
}

.dividedCell:hover .cell{
  height: 25vh;
  transition: .4s;
}

.cell:hover .description{
  opacity: 100%;
  visibility: visible;
  transition: .4s;
}